<div class="container-xl">
  <div class="row">
    <div class="co-12"><h1>{{title}}</h1></div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8">
      <label>size</label><input [(ngModel)]="size">
      <br/>
      <label>lastX</label><input [(ngModel)]="lastX">
      <br/>
      <label>gaps</label><input type="checkbox" [(ngModel)]="gaps">
      <br/>
      <label>normalized</label><input type="checkbox" [(ngModel)]="normalized">
      <br/>
      <button (click)="generate()">Generate</button>
      <br/>
      {{message()}}

    </div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2" style="background: red;">&nbsp;</div>
    <div class="col-8">
      <bd2-ng-arb-heatmap [data]="data" [asymmetric]="false" class="customized">
      </bd2-ng-arb-heatmap>

      <bd2-fixedint-heatmap [data]="data" class="customized">
      </bd2-fixedint-heatmap>

    </div>
    <div class="col-2" style="background: blue">&nbsp;</div>
  </div>
</div>


