
/*
 Examples of forcing custom styling
 */

/*
::ng-deep bd2-ng-heatmap.customized .bd2hm-axisWrapper line {
  stroke: red;
}
*/

/*
::ng-deep bd2-ng-heatmap.customized .bd2hm-labels .bd2hm-hover text {
  fill: red;
}
 */

/*
::ng-deep bd2-ng-heatmap.customized .bd2hm-paneBack rect {
  fill: grey
}
*/

/*
::ng-deep bd2-ng-heatmap.customized .bd2hm-tooltipBox rect {
  fill: blueviolet;
}
*/
